<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table class="table table-striped table-dark">
  <thead class="thead-dark">
    <tr class="table-dark">
      <th scope="col">Blog title</th>
      <th scope="col">Author</th>
      <th scope="col">Posts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr class="table-dark">
        <td><%= blog.title %></td>
        <td><%= blog.user.name %></td>
        <td><%= blog.posts.count %></td>
        <td><%= link_to 'Show', blog_path(blog) %></td>
        <% if current_user && current_user.admin? && !blog.user.admin? %>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <% end %>
        <% if current_user && current_user.admin? && !blog.user.admin? %>
        <td><%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
