<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-striped table-dark">
  <thead class="thead-dark">
    <tr class="table-dark">
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Blog</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr  class="table-dark">
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><% if user.admin? %>
              Admin
            <% else %>
              User
            <% end %>
        </td>
        <td><% if user.blog.nil? %>
              no blog
            <% else %>
              <%= link_to user.blog.title, blog_path(user.blog) %>
            <% end %>
        </td>
        <td><%= link_to 'Show', user %></td>
        <% if current_user && current_user.admin? && !user.admin? %>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <% end %>
        <% if current_user && current_user.admin? && !user.admin? %>
          <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
