<p id="notice"><%= notice %></p>

<div class="main-info">
  <p class="p-right">
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p class="p-right">
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p class="p-right">
    <strong>Role:</strong>
    <% if @user.admin? %>
      Admin
    <% else %>
      User
    <% end %>
  </p>

  <% if !@user.blog.nil? %>
    <p><%= link_to 'Show blog',  blog_path(@user.blog) %></p>
  <% end %>

  <% if current_user && current_user.admin? && !@user.admin? %>
    <p><%= link_to 'Make admin', @user, method: :make_admin %></p>
  <% end %>
</div>

<br>

<div class="shared-links">
  <% if (current_user && current_user.admin? && !@user.admin?) || current_user == @user %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
  <%= link_to 'Back', blogs_path %>
</div>
